body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.main-section {
  padding: 20px;
}

h1 {
  font-family: "Prata", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
}

h3 {
  font-family: "Prata", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  font-weight: 600;
  font-style: italic;
  text-decoration: none;
}

.anna {
  color: rgb(154, 91, 8);
}

.verde {
  color: darkgreen;
}

a:visited {
  color: rgb(39, 122, 190);
}

h6 {
  padding: 22px;
  margin-bottom: 0;
  margin-top: 56px;
  color: white;
  border-radius: 6px;
  background-color: blue;
  background-image: linear-gradient(rgb(39, 122, 190), rgb(11, 11, 67));
}

.green {
  padding: 22px;
  margin-bottom: 0;
  margin-top: 56px;
  color: white;
  border-radius: 6px;
  background-color: darkgreen;
  background-image: linear-gradient(rgb(17, 83, 6), rgb(11, 11, 67));
}

.yellow {
  background-color: orange;
  background-image: linear-gradient(rgb(206, 154, 89), rgb(164, 95, 10));
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-bottom: 1px solid #dfdfdf;
}

footer {
  background-color: rgb(6, 6, 87);
}

footer p {
  color: white;
}
